{% extends 'main.html' %}

{% block content %}

    <style>
        .alert {
            padding: 10px;
            background-color: #f44336; /* Red */
            color: white;
            margin-bottom: 15px;
            margin-top: 15px;
            text-align: center;
            border-radius: 10px;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }

        .layout__box {
        {#position: absolute;#}{#transform: translate(-50%, -46%);#} margin-top: 5rem;
            background-color: var(--color-dark);
            border-radius: 1rem;
            box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.3);
            overflow: hidden;
        }
    </style>


    <div class="container">
        <div class="col-lg-auto layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="{% url 'products' %}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path
                                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                            </path>
                        </svg>
                    </a>
                    <h3>Add Product</h3>
                </div>
            </div>

            <div class="layout__body">
                {% if error %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{ error }}
                    </div>
                {% endif %}
                <form class="form" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form__group">
                        <label>Product Name</label>
                        {{ form.product_name }}
                        {#              <input required type="text" value="{{lobby.topic.name}}" name="topic" list="topic-list">#}
                        {#              <datalist id="topic-list">#}
                        {#                <select id="lobby-topic">#}
                        {#                  {% for topic in topics %}#}
                        {#                  <option value="{{topic.name}}">{{topic.name}}</option>#}
                        {#                  {% endfor %}#}
                        {#                </select>#}

                        {#              </datalist>#}
                        <!--              <input id="room_name" name="room_name" type="text" placeholder="E.g. Mastering Python + Django" />-->
                    </div>
                    <div class="form__group">
                        <label>Product Details</label>
                        {{ form.product_details }}
                        <!--              <input id="room_name" name="room_name" type="text" placeholder="E.g. Mastering Python + Django" />-->
                    </div>
                    <div class="form__group">
                        <label>Full Sleeve Price (BDT)</label>
                        {{ form.full_sleeve_price }}
                        <!--              <input id="room_name" name="room_name" type="text" placeholder="E.g. Mastering Python + Django" />-->
                    </div>
                    <div class="form__group">
                        <label>Half Sleeve Price (BDT)</label>
                        {{ form.half_sleeve_price }}
                        <!--              <input id="room_name" name="room_name" type="text" placeholder="E.g. Mastering Python + Django" />-->
                    </div>
                    <div class="form__group">
                        <label>Product Type</label>
                        <input required type="search" id="options" list="product_type" placeholder="Select Type"
                               name='product_type' onfocus="this.value=''" onchange="this.blur();">
                        <datalist id='product_type' name="product_type">
                            {#                                <select>#}
                            {#                                <option value="">Select Type</option>#}
                            <option class="option" value="Figurines">
                            <option class="option" value="Keychains">
                            <option class="option" value="Keycaps">
                            <option class="option" value="Headphone Pouch">
                            <option class="option" value="Mousepads">
                            <option class="option" value="Swords">
                            <option class="option" value="Clothing">
                            <option class="option" value="Heirloom">
                                {#                                </select>#}
                        </datalist>
                        {#                                                        {{ form.product }}#}
                        {#                            <button onclick="myFunction()" class="dropbtn"></button>#}
                        {#                            <div id="myDropdown" class="dropdown-content">#}
                        {#                                <input list="browsers" name="browser">#}
                        {#                                <datalist id="browsers">#}
                        {#                                    <option value="Figurines">#}
                        {#                                    <option value="Keychains">#}
                        {#                                    <option value="Keycaps">#}
                        {#                                    <option value="Headphone Pouch">#}
                        {#                                    <option value="Mousepads">#}
                        {#                                    <option value="Swords">#}
                        {#                                    <option value="Clothing">#}
                        {#                                    <option value="Heirloom">#}
                        {#                                </datalist>#}
                        {#                            </div>#}
                        <!--              <input id="room_name" name="room_name" type="text" placeholder="E.g. Mastering Python + Django" />-->
                    </div>
                    <div class="form__group">
                        <label>Availability</label>
                        <input required type="search" id="options2" list="available" placeholder="Select Availability"
                               name="available"
                               onfocus="this.value=''" onchange="this.blur();">
                        <datalist id="available" name="available">
                            {#                                <option value="">Select Availability</option>#}
                            <option class="option2" value="Yes">
                            <option class="option2" value="No">
                        </datalist>
                        {#                            {{ form.quantity }}#}
                        <!--              <input id="room_name" name="room_name" type="text" placeholder="E.g. Mastering Python + Django" />-->
                    </div>

                    <div class="form__group">
                        <label>Product Image</label>
                        {{ form.avatar }}
                        </div>

                    <!--            <div class="form__group">-->
                    <!--              <label for="room_topic">Topic</label>-->
                    <!--              <input required type="text" name="topic" id="room_topic" list="topic-list" />-->
                    <!--              <datalist id="topic-list">-->
                    <!--                <select id="room_topic">-->
                    <!--                  <option value="">Select your topic</option>-->
                    <!--                  <option value="Python">Python</option>-->
                    <!--                  <option value="Django">Django</option>-->
                    <!--                </select>-->
                    <!--              </datalist>-->

                    <!--            </div>-->


                    <div class="form__action">
                        <a class="btn btn--dark" href="{% url 'products' %}">Cancel</a>
                        <button id="submit" class="btn btn--main" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        let price = document.getElementById('id_price')
        price.setAttribute('required', '')

        let options = document.getElementsByClassName('option')
        let options2 = document.getElementsByClassName('option2')
        let selected = document.getElementById('options')
        let selected2 = document.getElementById('options2')
        let count = 0

        document.getElementById('submit').addEventListener('click', function () {
            for (let i = 0; i < options.length; i++) {
                if (selected.value === options[i].value) {
                    count += 1
                }
            }
            if (count === 0 && selected.value !== '') {
                document.getElementById('submit').type = 'button'
                alert('Invalid Product Type')
                location.reload()
            } else if (count === 1 && selected.value !== '') {
                document.getElementById('submit').type = 'submit'
            }


            if (count === 1) {
                let count2 = 0
                for (let i = 0; i < options2.length; i++) {
                    if (selected2.value === options2[i].value) {
                        count2 += 1
                    }
                }
                if (count2 === 0 && selected2.value !== '') {
                    document.getElementById('submit').type = 'button'
                    alert('Invalid Available Selection')
                    location.reload()
                } else if (count2 === 1 && selected2.value !== '') {
                    document.getElementById('submit').type = 'submit'
                }
            }
        })
    </script>

{% endblock %}