{% extends 'main.html' %}

{% block content %}
    <style>
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #ffcfa5;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #565656;
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: black;
        }

        a:hover {
            text-decoration: none;
            color: #ffcfa5;
        }


        .layout__box {
        {#position: absolute;#}{#transform: translate(-50%, -46%);#} margin-top: 5rem;
            background-color: var(--color-dark);
            border-radius: 1rem;
            box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            max-height: 730px;
        }

        .layout__body {
            min-height: 40rem;
            max-height: 65rem;
            margin: 3rem;
            overflow: auto;
            max-height: 600px;
        }

        .form__group {
            margin-bottom: 2rem;
            margin-right: 10px;
            width: 98%;
        }

        .form {
            animation: fadeEffect 1s; /* Fading effect takes 1 second */
        }

        /* Go from zero to full opacity */
        @keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .tablinks {
            color: #ed6a4c;
            font-size: 15px;
            font-weight: normal;
            padding: 5px;
            background: antiquewhite;
            border: none;
            border-radius: 5px;
        }

        .tablinks.active {
            color: #ed6a4c;
            font-size: 20px;
            font-weight: bold;
            padding: 7px;
            background: antiquewhite;
            border: none;
            border-radius: 5px;
            box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.3)
        }

        .alert {
            padding: 10px;
            background-color: #f44336; /* Red */
            color: white;
            margin-bottom: 15px;
            margin-top: 15px;
            text-align: center;
            border-radius: 10px;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }
    </style>
    <script>

        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("form");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";

        }

    </script>

    {% if mail == 1 %}
        <div class="alert alert-success" id="success-alert"
             style="border: solid limegreen;border-radius: 10px; background-color: mediumseagreen; max-width: 50%; font-size: 12px; margin-left: 25%">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Confirmation mail sent to customer email.
        </div>
        <script>
            $("#success-alert").fadeTo(5000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        </script>
    {% elif mail == 2 %}
        <div class="alert alert-danger" id="danger-alert"
             style="border: solid limegreen;border-radius: 10px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed!</strong> Failed to confirm order.
        </div>
        <script>
            $("#danger-alert").fadeTo(5000, 500).slideUp(500, function () {
                $("#danger-alert").slideUp(500);
            });
        </script>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-pull-12 layout__box">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <a href="{% url 'home' %}">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                 viewBox="0 0 32 32">
                                <title>arrow-left</title>
                                <path
                                        d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                                </path>
                            </svg>
                        </a>
                        <h3>Create Order</h3>
                    </div>
                </div>

                <div class="layout__body">
                    {% if error %}
                        <div class="alert">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="tab">
                        <table style="margin-bottom: 5px">
                            <th>
                                <button class="tablinks" onclick="openCity(event, 'jersey')" id="open"
                                        style="margin-right: 5px">Jersey
                                </button>
                            </th>
                            <th style="">
                                <button class="tablinks" onclick="openCity(event, 'others')">Others</button>
                            </th>

                        </table>

                    </div>
                    <form id="jersey" class="form" action="" method="POST" autocomplete="off">
                        {% csrf_token %}

                        <div class="form__group">
                            <label>Customer Name</label>
                            {{ form.customer_name }}
                        </div>
                        <div class="form__group">
                            <label>Customer Mobile</label>
                            {{ form.customer_contactnumber }}
                        </div>
                        <div class="form__group">
                            <label>Customer Email</label>
                            {{ form.customer_email }}
                        </div>
                        <div class="form__group">
                            <label>Customer Address</label>
                            {{ form.customer_address }}
                        </div>
                        <div class="form__group">
                            <label>Delivery Address</label>
                            {{ form.delivery_address }}
                        </div>
                        <div class="form__group">
                            <label>Customer Facebook</label>
                            {{ form.customer_fb }}
                        </div>
                        <div class="form__group">
                            <label>Customer Discord</label>
                            {{ form.customer_discord }}
                        </div>
                        <div class="form__group">
                            <label>Product ID</label>
                            {#                            {{ form.product }}#}
                            <input type="search" list="product" placeholder="Select Product" name='product'
                                   onfocus="this.value=''" onchange="this.blur();">
                            <datalist name="product" id="product">
                                {#                                <option value="">Select Product</option>#}
                                {% for p in products %}
                                    <option value="{{ p.product_id }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="form__group">
                            <label>Size</label>
                            {{ form.size }}
                        </div>
                        <div class="form__group">
                            <label>Custom Name</label>
                            {{ form.custom_name }}
                        </div>
                        <div class="form__group">
                            <label>Custom Number</label>
                            {{ form.custom_number }}
                        </div>
                        <div class="form__group">
                            <label>Quantity</label>
                            {{ form.quantity }}
                        </div>
                        <div class="form__group">
                            <label>Paid Amount</label>
                            {{ form.paid }}
                        </div>
                        <div class="form__group">
                            <label>Paid To</label>
                            {{ form.money_received_by }}
                        </div>
                        <div class="form__group">
                            <label>Bkash No</label>
                            {{ form.bkash_number }}
                        </div>
                        <div class="form__group">
                            <label>Bkash TXN ID</label>
                            {{ form.bkash_txn_id }}
                        </div>


                        <div class="form__action" style="margin-right: 2%">
                            <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
                            <button class="btn btn--main" type="submit">Submit</button>
                        </div>
                    </form>

                    <form id="others" class="form" action="" method="POST" autocomplete="off">
                        {% csrf_token %}

                        <div class="form__group">
                            <label>Customer Name</label>
                            {{ form.customer_name }}
                        </div>
                        <div class="form__group">
                            <label>Customer Mobile</label>
                            {{ form.customer_contactnumber }}
                        </div>
                        <div class="form__group">
                            <label>Customer Email</label>
                            {{ form.customer_email }}
                        </div>
                        <div class="form__group">
                            <label>Customer Address</label>
                            {{ form.customer_address }}
                        </div>
                        <div class="form__group">
                            <label>Delivery Address</label>
                            {{ form.delivery_address }}
                        </div>
                        <div class="form__group">
                            <label>Customer Facebook</label>
                            {{ form.customer_fb }}
                        </div>
                        <div class="form__group">
                            <label>Customer Discord</label>
                            {{ form.customer_discord }}
                        </div>
                        <div class="form__group">
                            <label>Product ID</label>
                            <input list="product" placeholder="Select Product" name='product' onfocus="this.value=''"
                                   onchange="this.blur();">
                            <datalist name="product" id="product">
                                {% for p in products %}
                                    <option value="{{ p.product_id }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="form__group">
                            <label>Quantity</label>
                            {{ form.quantity }}
                        </div>
                        <div class="form__group">
                            <label>Paid Amount</label>
                            {{ form.paid }}
                        </div>
                        <div class="form__group">
                            <label>Paid To</label>
                            {{ form.money_received_by }}
                        </div>
                        <div class="form__group">
                            <label>Bkash No</label>
                            {{ form.bkash_number }}
                        </div>
                        <div class="form__group">
                            <label>Bkash TXN ID</label>
                            {{ form.bkash_txn_id }}
                        </div>


                        <div class="form__action" style="margin-right: 2%">
                            <a class="btn btn--dark" href="{% url 'home' %}">Cancel</a>
                            <button class="btn btn--main" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>document.getElementById('open').click()</script>

{% endblock %}