{#<h2>Product List</h2>#}

<style>

    .btn {
        background-color: #ed6a4c;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
    {#cursor: pointer;#}{#opacity: 0.8;#}{#position: fixed;#}{#bottom: 23px;#}{#right: 28px;#}{#width: 280px;#}
    }

    .action-btn {
        background-color: #ed6a4c;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        font-size: 10px;
        font-weight: 800;
        cursor: pointer;{#opacity: 0.8;{#position: fixed;#}{#bottom: 23px;#}{#right: 28px;#}{#width: 280px;#}
    }

    .action-btn:hover{
        color: #565656;
        {#background-color: #ed6a4c;#}
        {#border: 1px solid black;#}
        opacity: 90%;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        bottom: 300px;
        right: 700px;
        border: 3px solid  #fc4b0b;
        border-radius: 15px;
        {#z-index: 9;#}
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: #ffcfa5;
        border-radius: 10px;
    }

    /* Full-width input fields */
    .form-container input[type=select], .form-container input[type=password] {
        width: 100%;
        padding: 15px 10px;
        margin: 5px 0 22px 0;
        border: 1px solid  #fc4b0b;
        border-radius: 5px;
        background: #FFF3E8;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=select]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 30%;
        font-size: 12px;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover {
        opacity: 1;
    }

    td {
        border-right: 1px solid black;
        height: auto;
        width: auto;
        text-align: center;
        vertical-align: center;
        border-bottom: 1px solid #fc4b0b;
        {#padding-top: 1rem;#}
        padding: 0.8rem;
        border-radius: 5px;
    }

    tr {
        height: auto;
        width: auto;
        text-align: center;
        vertical-align: middle;
    }

    th {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        {#border-radius: 5px;#}
        padding: 0.5rem;
        width: auto;
        color: white;
        position: sticky;
        top: 0;
        background-color: #ed6a4c;
    }

</style>
<div style="max-height:700px;min-height:80px;overflow:auto;border: 3px solid black; border-radius: 10px;">
    <table style="width:100%; border-radius: 10px; background-color: #ffe1db">
        <tr>
            <th>Task ID</th>
            <th>Task Details</th>
            <th>Assigned To</th>
            {#            <th>Quantity</th>#}
            {#            <th>Customer Name</th>#}
            {#            <th>Customer Mobile</th>#}
            {#            <th>Customer Address</th>#}
            <th>Assigned Date</th>
            <th>Deadline</th>
            <th>Completed By</th>
            <th>Remarks</th>
        </tr>

        {% for task in tasks %}

            <tr>
                <td>
                    <span>{{ task.task_id }}</span>
                </td>
                <td>
                    {#                <div class="roomListRoom__meta">#}
                    {{ task.task_details }}
                    {#                </div>#}
                </td>

                <td>

                    {{ task.assigned_to.username }}

                </td>
                <td>
                    {#                <div class="roomListRoom__meta">#}
                    <span id="price">{{ task.assign_date }}</span>
                    {#                </div>#}
                </td>
                <td>

                    {#                <div class="roomListRoom__meta">#}
                    <span id="preorder">{{ task.deadline_date }}</span>
                    {#                </div>#}
                </td>
                <td>
                    {#                <div class="roomListRoom__meta">#}
                    <span>{{ task.completed_by }}</span>
                    {#                </div>#}
                </td>
                <td>
                    {#                <div class="roomListRoom__meta">#}
                    <span>{{ task.remarks }}</span>
                    {#                </div>#}
                </td>
            </tr>


        {% endfor %}
        {#        <script>preorder()</script>#}

    </table>
</div>



