{% extends 'main.html' %}

{% block content %}

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #ffcfa5;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #ed6a4c;
            border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        input[type=search]::-webkit-search-cancel-button {
            -webkit-appearance: searchfield-cancel-button;
        }


        .custom {
            padding-top: 30rem;
        }

        .form-buttons {
            padding-top: 10px;
        }

        .table-orders {
            background-color: #ffcfa5;
        }


        @media (min-width: 1200px) {
            .container {
                width: 100%;
            }
        }

        @media (min-width: 992px) {
            .container {
                width: 100%;
            }
        }

        @media (min-width: 768px) {
            .container {
                width: 100%;
            }
        }


    </style>


    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-auto pages">
                {% include 'accord/topics_component.html' %}
            </div>
            {#            <div class="col-lg-1">#}
            {##}
            {#            </div>#}
            <div class="col-lg-10 col-sm-auto">
                <div class="roomList">
                    <div class="mobile-menu">
                        <div class="mobile-menuItems">
                            <a class="btn btn--main btn--pill" href='http://103.139.235.239:3000/pages/'>Browse
                                Pages</a>
                        </div>
                    </div>
                    <div class="roomList__header">
                        <div>
                            <h2>Orders</h2>
                            <p style="font-size: 20px">Total Orders: {{ orders.count }}</p>
                        </div>
                        <div align="right">

                            <a class="btn btn--main" href="{% url 'create-order' %}" style="margin-bottom: 5px">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                     viewBox="0 0 32 32">
                                    <title>add</title>
                                    <path
                                            d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
                                    ></path>
                                </svg>
                                Create Order
                            </a>
                            <input type="text" id="search" placeholder="Search table..." style="background: #ffcfa5;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  color: var(--color-light);
  font-size: 15px;
  font-weight: 500;
  outline: none;" autocomplete="off">

                        </div>
                    </div>

                    {% include 'accord/feed_component.html' %}

                    {#        <!-- Room List End -->#}
                </div>
            </div>
        </div>

    </div>

    <div class="modal custom fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title" style="color: #fc4b0b">Update Order Status</h2>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="" class="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {#            <h1>Update Availability</h1>#}

                        <input required type="search" id="options" list="available" placeholder="Select Status..."
                               name="available"
                               onfocus="this.value=''" onchange="this.blur();" style="background: #eabaaf;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  color: var(--color-light);
  font-size: 15px;
  font-weight: 500;
  outline: none;">
                        <datalist id="available" name="available">
                            <option class="option" value="PENDING">
                            <option class="option" value="SHIPPING">
                            <option class="option" value="ON HAND">
                            <option class="option" value="DELIVERING">
                            <option class="option" value="DELIVERED">
                        </datalist>

                        <input id="order_id" type="hidden" name="order_id">

                        {#            <label for="psw"><b>Password</b></label>#}
                        {#            <input type="password" placeholder="Enter Password" name="psw" required>#}

                        <div class="form-buttons modal-footer">
                            <button type="button" class="btn btn-success" id="submit">Submit</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="close_btn">Cancel
                            </button>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>

    <script>
        document.getElementById('close_btn').addEventListener('click', function () {
            document.getElementById('options').value = '';
        });

        let options = document.getElementsByClassName('option')
        let selected = document.getElementById('options')
        let count = 0

        document.getElementById('submit').addEventListener('click', function () {
            for (let i = 0; i < options.length; i++) {
                if (selected.value === options[i].value) {
                    count += 1
                }
            }
            if (count === 0) {
                document.getElementById('submit').type = 'button'
            } else if (count === 1) {
                document.getElementById('submit').type = 'submit'
            }
        })

    </script>

    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#order_table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>


{% endblock content %}

