<div class="topics">
    <div class="topics__header">
        <h2>Pages</h2>
    </div>
    <ul class="topics__list">
        {#        <li>#}
        {#            <a href="{% url 'home' %}" class="active">Orders <span>{{ orders.count }}</span></a>#}
        {#        </li>#}
        {% for p in pages %}
            <li>
                {% if p.id == 1 %}
                    {% if page == 'home' %}
                        <a href="{% url 'home' %}" class="active">{{ p.page_name }}
                    {% else %}
                        <a href="{% url 'home' %}">{{ p.page_name }}
                    {% endif %}
                    <span>{{ orders.count }}</span>
                {% elif p.id == 2 %}
                    {% if page == 'products' %}
                        <a href="{% url 'products' %}" class="active">{{ p.page_name }}
                    {% else %}
                        <a href="{% url 'products' %}">{{ p.page_name }}
                    {% endif %}
                    <span>{{ products.count }}</span>
                {% elif p.id == 3 %}
                    {% if page == 'tasks' %}
                        <a href="{% url 'tasks' %}" class="active">{{ p.page_name }}
                    {% else %}
                        <a href="{% url 'tasks' %}">{{ p.page_name }}
                    {% endif %}
                    <span>{{ tasks.count }}</span>
                {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    {#          <a class="btn btn--link" href="{% url 'topics' %}">#}
    {#        More#}
    {#        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">#}
    {#            <title>chevron-down</title>#}
    {#            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>#}
    {#        </svg>#}
    {#    </a>#}
</div>
